body {
  background: transparent;
  height: 100dvh;
  overflow: hidden;
}
.header {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  margin-top: -10%;
}
.piano {
  display: flex;
  width: 90vw;
  justify-content: center;
}
.black {
  align-self: flex-start;
  background-color: black;
  color: white;
  width: 2.7vw;
  height: 14vh;
  transform: translateY();
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 2px rgba(0, 0, 0, 0.6) inset, 0 2px 2px rgba(0, 0, 0, 0.766);
  z-index: 2;
  background: linear-gradient(45deg, #090909 0%, #302f2f 100%);
  border-radius: 3px;
}
.white {
  width: 3vw;
  height: 17vh;
  z-index: 1;
  background: linear-gradient(45deg, #f6f2f2 0%, #ffffff 100%);
  border-radius: 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 2px rgba(158, 154, 154, 0.6) inset,
    0 2px 4px rgba(0, 0, 0, 0.766);
}

kbd {
  align-self: center;
  font-size: 1rem;
  text-align: center;
  padding-top: 10px;
  height: 40px;
  border: 1px solid black;
}

.animate {
  animation: whitekey 0.2s ease-out;
}

@keyframes whitekey {
  40% {
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
      0 -3px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 2px rgba(0, 0, 0, 0.766);
  }
  100% {
    transform: translateY(3px);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
      0 -3px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 2px rgba(0, 0, 0, 0.766);
  }
}

@media screen and (max-width: 800px) {
  .black {
    width: 5vw;
    height: 14vh;
  }
  .white {
    width: 6vw;
    height: 17vh;
  }
}
