body {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
}
kbd {
  font-size: 2rem;
}
.drums {
  margin-top: 20%;
  display: flex;
  width: 90vw;
  align-content: end;
  justify-content: center;
  gap: 5px;
}

.drum {
  border: 2px solid orangered;
  transition: all 0.08s ease-in-out;

  width: 8%;
  text-align: center;
  color: white;
  background: rgb(0, 0, 0);
}

.animation {
  transform: scale(1.2);
}
